{% extends "layout.html" %}
{% block content %}
	<div class="cited">
		<h4>Aptitude tests for computing jobs broadly fall into three groups:</h4>
		<ol>
			<li>A <strong>standard battery of tests</strong> assessing competencies such as <a href="https://www.kent.ac.uk/ces/tests/mathstest.html">numerical reasoning</a>, <a href="https://www.kent.ac.uk/ces/tests/sequences.html">logical reasoning</a> and <a href="https://www.kent.ac.uk/ces/tests/spatialtest.html">non-verbal reasoning</a> which are required in technical computing jobs.</li>
			<li>A <strong>hybrid test</strong> comprising of elements involving <a href="https://www.kent.ac.uk/ces/tests/sequences.html">logical reasoning</a>, <a href="https://www.kent.ac.uk/ces/tests/mathstest.html">numerical problem solving</a>, <a href="https://www.kent.ac.uk/ces/tests/spatialtest.html">pattern recognition</a>, <a href="https://www.kent.ac.uk/ces/tests/logic-test.html">ability to follow complex procedures</a> and attention to detail. Neither of these first two types of test require any knowledge of programming</li>
			<li>A <strong>programming simulation</strong> involving pseudocode, control structures (e.g. loops), look-up tables, sets, arrays, boolean true/false, looping and other programming structures. These are given to experienced programmers to assess their competence.</li>
			</ol>
			<h4>The test given here is a hybrid test (type 2 above). Hybrid tests involve:</h4>
			<ul>
			<li><strong>Logical thinking and </strong><strong>problem solving. </strong><br />
				Numerical problem solving is analogous to the trouble shooting required in programming</li>
			<li><strong>Pattern and syntax recognition. </strong>Involves recognizing similarities and differences in strings of characters and numbers, understanding graphical representations of procedures and symbols, finding which element does not match the corresponding elements and information checking and attention to detail: a single misplaced semi-colon or bracket can crash a program.</li>
			<li><strong>Ability to  follow complex procedures.</strong> Involves following coded instructions and rules, sequencing events into a logical order, sorting and manipulating lists of items according to specific instructions, deciding how one set of instructions affects another and interpreting flow diagrams.</li>
			</ul>
			<h4><strong>Other attributes required</strong> by programmers and other computing professionals</h4>
			<ul>
			<li><a href="https://www.kent.ac.uk/ces/sk/time.html"><strong>Time management</strong></a></li>
			<li><a href="https://www.kent.ac.uk/ces/sk/lateral.html"><strong>Creativity</strong></a></li>
			<li><a href="https://www.kent.ac.uk/ces/sk/teamwork.html"><strong>Teamwork</strong></a></li>
			<li><strong>Determination</strong></li>
			<li><strong>Clear, concise documentation</strong>: software development involves writing things down and looking them up again.</li>
			<li>Ability to quickly <strong>learn new skills</strong> and update existing ones by teaching yourself. <br />
				Also a receptivity to new ideas: computing is a fast changing environment!</li>
			<li>Programmers also need to be reasonably <strong>quick coders</strong>, although accuracy is more important than speed.</li>
			<li>For more information about this click on the <strong>programming tests</strong> tab on our <a href="https://www.kent.ac.uk/ces/tests/psychotests.html#PROGRAMMING">psychometric tests page</a></li>
		</ul>
	</div>
	<div class="forPrint footnote">
		<h4>Links</h4>
		<ol>
			<li>https://www.kent.ac.uk/ces/tests/mathstest.html</li>
			<li>https://www.kent.ac.uk/ces/tests/sequences.html</li>
			<li>https://www.kent.ac.uk/ces/tests/spatialtest.html</li>
			<li>https://www.kent.ac.uk/ces/tests/sequences.html</li>
			<li>https://www.kent.ac.uk/ces/tests/mathstest.html</li>
			<li>https://www.kent.ac.uk/ces/tests/spatialtest.html</li>
			<li>https://www.kent.ac.uk/ces/tests/logic-test.html</li>
			<li>https://www.kent.ac.uk/ces/sk/time.html</li>
			<li>https://www.kent.ac.uk/ces/sk/lateral.html</li>
			<li>https://www.kent.ac.uk/ces/sk/teamwork.html</li>
			<li>https://www.kent.ac.uk/ces/tests/psychotests.html#PROGRAMMING</li>
		</ol>
	</div>
{% endblock content %}